Repository streamnative/function-mesh, pull requests merged in 2021-12, with the labels that each got.

#311 release v0.1.9
  CHANGELOG.md
  Makefile
  README.md
  charts/function-mesh-operator/Chart.yaml
  charts/function-mesh-operator/values.yaml
  install.sh
Labels: platform/serverless, Epic

#313 remove unnecessary CAP_FOWNER Capability
  controllers/spec/function.go
  controllers/spec/sink.go
  controllers/spec/source.go
Labels: type/cleanup, component/controller

#312 fix json marshal nil to null
  controllers/spec/common.go
  controllers/spec/utils.go
  controllers/spec/utils_test.go
Labels: type/bug, component/controller

#262 Sync function/source/sink configdata to pod when updated.
  .ci/helm.sh
  .golangci.yml
  controllers/function.go
  controllers/function_controller_test.go
  controllers/function_mesh.go
  controllers/proto/Function.pb.go
  controllers/sink.go
  controllers/sink_controller_test.go
  controllers/source.go
  controllers/source_controller_test.go
  controllers/spec/common.go
  controllers/spec/function.go
  controllers/spec/sink.go
  controllers/spec/source.go
  controllers/spec/utils.go
  controllers/suite_test.go
Labels: type/enhancement, component/controller
