Repository streamnative/function-mesh, pull requests merged in 2024-05, with the labels that each got.

#751 Bump go to 1.22.3 to fix CVE-2024-24788
  .github/workflows/bundle-release.yml
  .github/workflows/olm-verify.yml
  .github/workflows/project.yml
  .github/workflows/release.yml
  .github/workflows/test-helm-charts.yml
  .github/workflows/trivy.yml
  Dockerfile
  redhat.Dockerfile
Labels: no-need-doc

#752 upgrade pularctl version
  controllers/spec/common.go
  go.mod
  go.sum
  pkg/webhook/common.go
  tools/migration.go
Labels: doc-info-missing

#754 Release v0.21.0
  .ci/olm-tests/catalog.yml
  .ci/olm-tests/subs.yml
  CHANGELOG.md
  Makefile
  README.md
  charts/function-mesh-operator/Chart.yaml
  charts/function-mesh-operator/README.md
  charts/function-mesh-operator/charts/admission-webhook/Chart.yaml
  charts/function-mesh-operator/charts/admission-webhook/README.md
  charts/function-mesh-operator/values.yaml
  install.sh
Labels: doc-required

#747 Update runner image base to alpine
  .ci/helm.sh
  .ci/tests/integration/cases/mongodb-source/manifests.yaml
  .ci/tests/integration/cases/mongodb-source/mongodb-dbz.yaml
  .ci/tests/integration/cases/mongodb-source/verify.sh
  .github/workflows/trivy.yml
  images/pulsar-functions-base-runner/Dockerfile
  images/pulsar-functions-base-runner/pulsarctl.Dockerfile
  images/pulsar-functions-java-runner/pulsarctl.Dockerfile
  images/pulsar-functions-python-runner/Dockerfile
  images/pulsar-functions-python-runner/pulsarctl.Dockerfile
Labels: no-need-doc

#756 Install gcompat for Pulsar 2.10.x
  images/pulsar-functions-base-runner/Dockerfile
  images/pulsar-functions-java-runner/pulsarctl.Dockerfile
Labels: no-need-doc

#757 Fix python runner image
  images/pulsar-functions-python-runner/Dockerfile
  images/pulsar-functions-python-runner/pulsarctl.Dockerfile
Labels: no-need-doc

#749 Make `api` as a separate module
  .github/workflows/bundle-release.yml
  .github/workflows/olm-verify.yml
  .github/workflows/release.yml
  .github/workflows/test-helm-charts.yml
  .github/workflows/trivy.yml
  Dockerfile
  api/compute/v1alpha1/zz_generated.deepcopy.go
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  redhat.Dockerfile
Labels: no-need-doc

#758 Update alpine to 3.20 to fix CVEs
  images/pulsar-functions-base-runner/Dockerfile
  images/pulsar-functions-base-runner/pulsarctl.Dockerfile
  images/pulsar-functions-python-runner/Dockerfile
  images/pulsar-functions-python-runner/pulsarctl.Dockerfile
  operator.Dockerfile
Labels: no-need-doc

#759 Use non root user in operator.Dockerfile
  .ci/tests/integration-oauth2/e2e.yaml
  .ci/tests/integration-oauth2/e2e_with_downloader.yaml
  operator.Dockerfile
Labels: no-need-doc
